@import "settings";
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);
@import url(http://fonts.googleapis.com/css?family=Oxygen:300,400,700);

@import
"foundation/components/buttons",
"foundation/components/clearing",
"foundation/components/grid",
"foundation/components/panels",
"foundation/components/reveal",
"foundation/components/side-nav",
"foundation/components/top-bar",
"foundation/components/type",
"foundation/components/offcanvas",
"foundation/components/visibility";

// ** Unused Foundation components
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",

@mixin make-rainbow($colors) {
  //changes text color of children to be a rainbow of $colors (array).
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &:nth-child(#{$i}) {
      color: $color;
    }
  }
}

//font colors for Cherry Cola page
$cc-font-color: #fcf8f2;
$cc-link-color: #D11D23;
$cc-alt-font-color: #e8d3bf;

body {
  background: url('../images/bg-1.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  &#cherry-cola {
    background: url('../images/cola-bg.jpg');
    color: $cc-font-color;
    a {
      color: $cc-link-color;
    }
    h1,h2,h3,h4, {
      color: $cc-font-color
    }
  }
}

.top-bar {
  padding-top: 6px;
  padding-bottom: 10px;
  height: auto !important;
  .title-area h1 {
    margin: 0;
    a {
      font-weight: lighter;
      font-size: 36px;
      body#cherry-cola & {
        color: $cc-font-color;
      }
    }
  }
  @media #{$small-only} {
    .top-nav li {
      a {
        padding-top: 8px;
        padding-bottom: 0;
      }r
      &:last-child > a {
        padding-right: 12px;
      }
    }
  }
  body#cherry-cola & {
    background: #2B0A12;
    .top-bar-section ul li {
      background: inherit;
      a {
        background: inherit;
      }
    }
  }
}

.container {
  background: rgba(255,255,255,.8);
  padding-bottom: 30px;
  min-height: 520px;
  @include box-shadow(rgba(0,0,0,0.1) 0 6px 20px);
  body#cherry-cola & {
    background: rgba(14,15,32,.4);
    @include box-shadow(none);
  }
}

.album-title {
  font-family: 'Shadows Into Light', cursive !important;
  @media #{$medium-up} {
    height: 40px;
    > div {
      height: inherit;
      position: absolute;
      z-index: 100;
      padding-left: 20px;
    }
  }
  h1 {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 4em;
    line-height: .9em;
    margin-top: 20px;
    .featured {
      font-size: 1.4em;
      line-height: .9em;
    }
    i {
      font-style: normal;
      @include make-rainbow($rainbow-colors);
      text-shadow: white 1px 1px 1px;
      &:last-child {
        text-shadow: rgba(42,48,79,.6) 0px 0px 12px;
      }
    }
  }
  .subtitle {
    font-size: 1.3em;
  }
}

.cover-shot {
  @media #{$medium-up} {
    width: 68%;
    max-width: 260px;
    position: absolute;
    top: 0;
    right: 0;
  }
  /*div > & {

  }*/
}

.page-title {
  margin-top: 20px;
  img.title {
    max-height: 54px;
  }
  @media #{$medium-up} {
    height: 106px;
    margin-top: 0;
    > div {
      height: inherit;
      position: absolute;
      z-index: 100;
      top: 20px;
      img.title {
        width: 100%;
        max-height: none;
      }
    }
  }
  .subtitle {
    //background: $primary-color;

    font-family: 'Shadows Into Light', cursive !important;
    @media #{$medium-up} {
      margin-top: 20px;
    }
    @media #{$large-up} {

    }
    .featured {
      font-size: 1.2em;
    }

    a {
      text-shadow: rgba(0,0,0,.6) 0 0 6px;
    }
    i {
      font-style: normal;
      @include make-rainbow($rainbow-colors);
      &.arrow {
        font-size: .6em;
      }
    }
  }
}

.tracks {
  margin-top: 20px;
  @media #{$large-up} {
    text-align: right;
  }
  h3 {
    color: $primary-color;
    font-weight: 400;
    margin-bottom: 0;
    text-align: inherit;
  }
  .side-nav {
    padding-top: 0;
    li {
      margin-bottom: 0;
      text-align: inherit;
      font-size: 18px;
      border-bottom: 1px solid rgba(0,0,0,.05);
      @include make-rainbow($rainbow-colors);
      a {
        color: inherit;
        font-weight: 600;
        &:hover {
          background: rgba(255,255,255,.7);
        }
        &.disabled {
          font-size: 14px;
          font-weight: 400;
          color: $base;
          text-decoration: none;
          cursor: default;
          &:hover {
            color: $base;
            background: none;
          }
        }
      }
    }
  }
  @media #{$small-up} {
    h3 {
      padding-right: rem-calc(14);
    }
  }
  @media #{$large-up} {
    h3 {
      padding-right: 0;
    }
    .side-nav {
      li {
        a {padding-right: 0;}
      }
    }
    padding-right: 10px;
    border: none;  }
}
#bio {
  //display: none;
  .panel {
    margin-top: 20px;
    background-color: #7E527A;
    background-image: url('../images/spec-looking-down.png');
    background-size: cover;
    background-position: left;
    @include box-shadow(rgba(0,0,0,0.15) -6px 0 14px);
    h3 {
      //font-size: 18px;
      font-weight: normal;
    }
    p, h1, h2, h3, h4 {
      color: white;
    }
    p {
      margin-top: 80px;
      font-size: rem-calc(12);
    }
  }
}

.lyrics {
  font-family: 'Shadows Into Light', cursive;
  p {
    font-size: 18px;
    margin: 0;
    line-height: 24px;
  }
  body#cherry-cola & {
    color: $alt-font-color;
  }
}

.controls {
  font-size: 14px;
  padding-top: 40px;
  h3 {
    font-size: 18px;
  }
}

#game {
  text-align: center;
  canvas {
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  padding-top: 20px;
  color: $steel;
  font-size: 12px;
  p {
    font-size: inherit;
    text-shadow: rgba(255,255,255,.5) 1px 1px 0px;
  }
  @media #{$small-only} {
    p {
      text-align: center !important;
    }
  }
  @media #{$medium-only} {
    p {
      font-size: 10px;
    }
  }
  body#cherry-cola & {
    a {
      color: transparentize($vapor,.4);
    }
    p {
      color: transparentize($vapor,.55);
      text-shadow: none;
    }
  }
}